<div>
  <h1>page title</h1>
  <el-form ref="form" :model="Item" :rules="rules" label-width="80px">
    <div v-if="errors.length">
      <el-alert
        v-for="(msg, index) in errors"
        v-bind:key="index"
        v-bind:title="msg.Msg"
        type="error"
      ></el-alert>
    </div>
    <el-form-item label="Name">
      <el-input v-model="Item.Name"></el-input>
    </el-form-item>
    <div>
      <el-button @click="onSubmit" type="primary">提交</el-button>
    </div>
  </el-form>
</div>
